{% extends "layout.j2" %}
{% block header %}
    <div class="panel panel-default">
        <div class="panel-body">
            {# We'll do an if logged in, then do this navbar, else
                else do other #}
            {%  include 'nav_bar_index.j2' %}
            {%  include 'nav_bar_admin.j2' %}
            {%  include 'search.j2' %}
            {%  include 'nav_bar_dev.j2' %}
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">

    <div class="panel panel-primary">
                <div class="panel-heading text-center">Profile Information</div>
                <div class="panel-body">

                    <div class="form-group row">
                        <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">First Name</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="Put First Name Here" id="example-text-input">
                        </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Last Name</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="Put Last Name Here" id="example-text-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-tel-input" class="col-lg-3 col-md-5 col-form-label">Telephone Number</label>
                      <div class="col-10">
                        <input class="form-control" type="tel" value="Put Phone Here" id="example-tel-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-email-input" class="col-lg-3 col-md-5 col-form-label">Email</label>
                      <div class="col-10">
                        <input class="form-control" type="email" value="Put Email Here" id="example-email-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Organization</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="Put Organization Here" id="example-text-input">
                      </div>
                    </div>

                    <label class="radio-inline"><input type="radio" name="optradio">Teacher</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Technician</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Administrator</label>

                    <h1></h1>


                    {# michaelwashere #}
                    {# when creating a brand new user this field is not there, this was intentional#}
                    {# I was thinking that most times making a new user will not require an upload id#}
                    {# so basically, don't forget to leave it blank if there is no upload_id#}
                    {# or if you decide that you want to add it to create new user just copy it all#}

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Upload ID</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="Put Upload ID Here" id="example-text-input">
                      </div>
                    </div>

                    {# copy to here #}




                    <div class="row">
                        <div class="col-12 text-left">
                            <button type="button" class="btn btn-default mtc-btn">Save Information</button>
                        </div>
                    </div>
                </div>
    </div>
</div>

<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Change Password</div>
        <div class="panel-body">

            <div class="form-group row">

                    <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Enter Password</label>

              <div class="col-10 col-sm-offset-0">
                <input class="form-control" type="password" value="" id="example-password-input">
              </div>
            </div>

            <div class="form-group row">

                    <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Confirm Password</label>

              <div class="col-10 col-sm-offset-0">
                <input class="form-control" type="password" value="" id="example-password-input">
              </div>
            </div>


            <div class="row">
                <div class="col-12 text-left">
                    <button type="button" class="btn btn-default mtc-btn">Save Password</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {# <footer><p><a href="mailto:trey.slaughter@gmail.com">Contact Us</a></p></footer> #}
{% endblock %}