{% extends "layout.j2" %}
{% block header %}
    <div class="panel panel-default">
        <div class="panel-body">
            {# We'll do an if logged in, then do this navbar, else
                else do other #}
            {%  include 'nav_bar_index.j2' %}
            {%  include 'nav_bar_admin.j2' %}
            {%  include 'search.j2' %}
            {%  include 'nav_bar_dev.j2' %}
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">

    <div class="panel panel-primary">
                <div class="panel-heading text-center">Asset Information</div>
                <div class="panel-body">


                {# michaelwashere #}
                {# I have no clue what information we have for assets. My pgAdmin table for assets is empty so I cannot give you a layout#}
                {# however, some tips, #}
                {# 1. only thing you should need to change to get appearance correct is the label#}
                {# 2. I left the radio buttons on this page in case you wanted to use them, if you dont, I have marked what you need to delete#}
                {# 3. To remove a label and field just delete the entire div, example below#}

                    {#from here#}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">First Name</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="" id="example-text-input">
                        </div>
                    </div>
                    {#to here#}

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Last Name</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="" id="example-text-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-tel-input" class="col-lg-3 col-md-5 col-form-label">Telephone Number</label>
                      <div class="col-10">
                        <input class="form-control" type="tel" value="" id="example-tel-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-email-input" class="col-lg-3 col-md-5 col-form-label">Email</label>
                      <div class="col-10">
                        <input class="form-control" type="email" value="" id="example-email-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Organization</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="" id="example-text-input">
                      </div>
                    </div>

                    {# michaelwashere #}
                    {# if you dont want the radio buttons, delete from here to next comment#}
                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Role</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Teacher</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Technician</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Administrator</label>
                    </div>

                    <h1></h1>
                    {# delete until here, yes in case you are wondering, including the header im using for spacing#}

                    <div class="form-group row">

                        <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Enter Password</label>

                          <div class="col-10 col-sm-offset-0">
                            <input class="form-control" type="password" value="" id="example-password-input">
                          </div>
                    </div>

                    <div class="form-group row">

                        <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Confirm Password</label>

                      <div class="col-10 col-sm-offset-0">
                        <input class="form-control" type="password" value="" id="example-password-input">
                      </div>
                    </div>

                    <h1></h1>

                    <div class="row">
                        <div class="col-12 text-left">
                            <button type="button" class="btn btn-default mtc-btn">Save Asset Information</button>
                        </div>
                    </div>
                </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {# <footer><p><a href="mailto:trey.slaughter@gmail.com">Contact Us</a></p></footer> #}
{% endblock %}