{% extends "layout.j2" %}
{% block header %}
    <div class="panel panel-default">
        <div class="panel-body">
            {# We'll do an if logged in, then do this navbar, else
                else do other #}
            {%  include 'nav_bar_default.j2' %}
            {%  include 'search.j2' %}
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="col-lg-offset-3 col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Upload Account Information</div>

        <div class="panel-body">
            <form class="form-horizontal" method="post">
                <div class="form-group row">
                    <label for="username" class="col-lg-4 col-md-5 control-label">Account Email</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ account.username }}" id="username" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-lg-4 col-md-5 control-label">Account Password</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ account.password }}" id="password" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-offset-4 col-md-offset-5 col-lg-3 col-md-6">
                        <button type="submit" class="btn btn-default mtc-btn">Update Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {# <footer><p><a href="mailto:trey.slaughter@gmail.com">Contact Us</a></p></footer> #}
{% endblock %}