{% extends "layout.j2" %}
{% block header %}
    <div class="panel panel-default">
        <div class="panel-body">
            {# We'll do an if logged in, then do this navbar, else
                else do other #}
            {%  include 'nav_bar_dev.j2' %}
            {%  include 'nav_bar_index.j2' %}
            {%  include 'search.j2' %}
        </div>
    </div>
{% endblock %}
{% block body %}

<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">

    <div class="panel panel-primary">
                <div class="panel-heading text-center">Profile Information</div>
                <div class="panel-body">

                    <div class="form-group row">
                        <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">First Name</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="placeholder2" id="example-text-input">
                        </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Last Name</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="placeholder2" id="example-text-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-tel-input" class="col-lg-3 col-md-5 col-form-label">Telephone Number</label>
                      <div class="col-10">
                        <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-email-input" class="col-lg-3 col-md-5 col-form-label">Email</label>
                      <div class="col-10">
                        <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Organization</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="placeholder2" id="example-text-input">
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-left">
                            <button type="button" class="btn btn-default mtc-btn">Save Changes</button>
                        </div>
                    </div>
                </div>
    </div>
</div>

<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Change Password</div>
        <div class="panel-body">

            {# michaelwashere #}
            {# dont forget to verify old password before you change to new one#}
            {# #}

            <div class="form-group row">

                    <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Old Password</label>

              <div class="col-10 col-sm-offset-0">
                <input class="form-control" type="password" value="" id="example-password-input">
              </div>
            </div>

            <div class="form-group row">

                    <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">New Password</label>

              <div class="col-10 col-sm-offset-0">
                <input class="form-control" type="password" value="" id="example-password-input">
              </div>
            </div>

            <div class="form-group row">

                    <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Confirm New Password</label>

              <div class="col-10 col-sm-offset-0">
                <input class="form-control" type="password" value="" id="example-password-input">
              </div>
            </div>


            <div class="row">
                <div class="col-12 text-left">
                    <button type="button" class="btn btn-default mtc-btn">Save Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {# <footer><p><a href="mailto:trey.slaughter@gmail.com">Contact Us</a></p></footer> #}
{% endblock %}