<form class="input-group" method="post">
    <input type="text" class="form-control" placeholder="Search experiments..." name = search_form>
    <span class="input-group-btn">
        <button class="btn btn-default mtc-btn" type=submit>Search</button>
    </span>
</form>
