{% extends "layout.j2" %}
{% block header %}
    <div class="panel panel-default">
        <div class="panel-body">
            {# We'll do an if logged in, then do this navbar, else
                else do other #}
            {%  include 'nav_bar_index.j2' %}
            {%  include 'nav_bar_tech.j2' %}
            {%  include 'search.j2' %}
            {%  include 'nav_bar_dev.j2' %}
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">

    <div class="panel panel-primary">
                <div class="panel-heading text-center">Teacher Profile Information</div>
                <div class="panel-body">


                {# michaelwashere #}
                {# these next three fields are only to verify teacher info before tech changes the password #}
                {# dont save the data if a tech changes the ID, first, or last name #}

                    <label>Please make sure to verify this is the correct teacher before changing the password!</label>
                    <h1></h1>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Teacher ID</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="Teacher ID Here" id="example-text-input">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">First Name</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="First Name Here" id="example-text-input">
                        </div>
                    </div>

                    <div class="form-group row">
                      <label for="example-text-input" class="col-lg-3 col-md-5 col-form-label">Last Name</label>
                      <div class="col-10">
                        <input class="form-control" type="text" value="Last Name Here" id="example-text-input">
                      </div>
                    </div>
                </div>
                <div class="panel-footer">



                    {# michaelwashere #}
                    {# save field data from here down#}

                    <h1></h1>

                    <div class="form-group row">

                        <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Enter Password</label>

                          <div class="col-10 col-sm-offset-0">
                            <input class="form-control" type="password" value="" id="example-password-input">
                          </div>
                    </div>

                    <div class="form-group row">

                        <label for="example-password-input" class="col-lg-3 col-md-5 col-form-label">Confirm Password</label>

                      <div class="col-10 col-sm-offset-0">
                        <input class="form-control" type="password" value="" id="example-password-input">
                      </div>
                    </div>

                    <h1></h1>

                    <div class="row">
                        <div class="col-12 text-left">
                            <button type="button" class="btn btn-default mtc-btn">Confirm Changed Password</button>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {# <footer><p><a href="mailto:trey.slaughter@gmail.com">Contact Us</a></p></footer> #}
{% endblock %}