{% extends "layout.j2" %}
{% block header %}
    <div class="panel panel-default">
        <div class="panel-body">
            {# We'll do an if logged in, then do this navbar, else
                else do other #}
            {%  include 'nav_bar_default.j2' %}
            {%  include 'search.j2' %}
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Teacher Profile Information</div>

        <div class="panel-body">
            <form class="form-horizontal" method="post">
                <div class="form-group row">
                    <label for="first" class="col-lg-4 col-md-5 control-label">First Name</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ user.first }}" id="first" name="first">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last" class="col-lg-4 col-md-5 control-label">Last Name</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ user.last }}" id="last" name="last">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-lg-4 col-md-5 control-label">Telephone Number</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ user.phone }}" id="phone" name="phone">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-lg-4 col-md-5 control-label">Email</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ user.email }}" id="email" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="org" class="col-lg-4 col-md-5 control-label">Organization</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="text" value="{{ user.org }}" id="org" name="org">
                    </div>
                </div>
                    {# michaelwashere #}
                    {# when creating a brand new user this field is not there, this was intentional#}
                    {# I was thinking that most times making a new user will not require an upload id#}
                    {# so basically, don't forget to leave it blank if there is no upload_id#}
                    {# or if you decide that you want to add it to create new user just copy it all#}
                <div class="form-group row">
                    <div class="col-lg-offset-4 col-md-offset-5 col-lg-3 col-md-6">
                        <button type="submit" class="btn btn-default mtc-btn">Update Profile</button>
                    </div>
                </div>
                <input type="hidden" name="profile_action" value="profile">
            </form>
        </div>
    </div>
</div>

<div class="col-lg-6 col-md-offset-0 col-md-6 col-md-offset-5">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Change Teacher Password</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                <div class="form-group row">
                    <label for="new_pass" class="col-lg-4 col-md-5 control-label">New Password</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="password" value="" id="new_pass" name="new_pass">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="new_pass_confirm" class="col-lg-4 col-md-5 control-label">Confirm New Password</label>
                    <div class="col-lg-4 col-md-8">
                        <input class="form-control" type="password" value="" id="new_pass_confirm" name="new_pass_confirm">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-7">
                        <button type="submit" class="btn btn-default mtc-btn">Update Password</button>
                    </div>
                </div>
                <input type="hidden" name="profile_action" value="password">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {# <footer><p><a href="mailto:trey.slaughter@gmail.com">Contact Us</a></p></footer> #}
{% endblock %}